html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f28123;
  font-family: "Acme", sans-serif;
}

header {
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

header::before {
  position: absolute;
  content: url(./Virtual_Safari_Leaf.svg);
  top: -175px;
  left: -300px;
  --leftScale: 0.5;
  transform: scale(var(--leftScale));
  animation: leftRuffle 3s infinite alternate;
}

header::after {
  position: absolute;
  content: url(./Virtual_Safari_Leaf2.svg);
  --rightScale: 0.5;
  transform: scale(var(--rightScale)) scaleX(-1);
  top: -150px;
  right: -300px;
  animation: rightRuffle 3s infinite alternate;
}

header h2 {
  font-weight: normal;
  font-size: 1rem;
}

header h1 {
  font-size: 3rem;
  margin: 0;
}

.container {
  position: relative;
  height: 400px;
  width: 80%;
  border-radius: 35px;
  background-color: sandybrown;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.start-btn button {
  width: 300px;
  height: 100px;
  background-color: #d34e24;
  margin: 0 1rem;
  outline: none;
  border: none;
  border-radius: 10px;
  font-family: "Acme", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  transition: ease-in-out 0.3s;
}

.start-btn button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.video {
  width: 100%;
  height: auto;
  display: none;
  margin: auto;
}

.option-btns {
  text-align: center;
  margin-top: 1rem;
  display: none;
  flex-wrap: wrap;
}

.option-btns button {
  width: 125px;
  height: 50px;
  background-color: #d34e24;
  margin: 1rem 0.5rem;
  outline: none;
  border: none;
  border-radius: 10px;
  font-family: "Balsamiq Sans", cursive;
  font-size: 0.9rem;
  font-weight: bold;
  transition: ease-in-out 0.3s;
}

.option-btns button:hover {
  opacity: 0.9;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 0.5rem;
  padding: 1rem;
}

footer a {
  color: black;
  margin: 0 1rem;
}

@keyframes leftRuffle {
  50% {
    transform: scale(var(--leftScale)) skew(5deg) rotate(-5deg);
  }
  100% {
    transform: scale(var(--leftScale)) skew(0deg) rotate(0deg);
  }
}

@keyframes rightRuffle {
  0% {
    transform: scale(var(--rightScale)) scalex(-1) skew(0deg) rotate(0deg);
  }
  50% {
    transform: scale(var(--rightScale)) scalex(-1) skew(5deg) rotate(-5deg);
  }
  100% {
    transform: scale(var(--rightScale)) scalex(-1) skew(0deg) rotate(0deg);
  }
}

@media screen and (max-height: 667px) {
  .container {
    height: 250px;
  }

  .option-btns button {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  header h1 {
    font-size: 6rem;
  }

  .container {
    width: 50%;
    height: 500px;
  }

  .start-btn button {
    width: 500px;
    height: 200px;
    font-size: 3rem;
  }

  .option-btns button {
    width: 200px;
    height: 75px;
    margin: 0 2rem;
    font-family: "Balsamiq Sans", cursive;
    font-size: 1.5rem;
  }

  footer {
    font-size: 0.8rem;
  }

  header::before {
    --leftScale: 0.7;
    top: -75px;
    left: -350px;
  }
  header::after {
    --rightScale: 0.7;
    top: -50px;
    right: -350px;
  }
}

@media screen and (orientation: landscape) and (max-height: 420px) {
  header {
    display: none;
  }

  .container {
    height: 300px;
    width: 90%;
  }
  .video {
    width: 50%;
  }

  .option-btns button {
    width: 200px;
    height: 75px;
    font-size: 1.2rem;
  }

  footer {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .option-btns button {
    margin: 0 5rem;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    height: 550px;
  }

  .option-btns button {
    width: 300px;
  }

  .video {
    width: 60%;
  }

  header::before {
    left: -400px;
    top: -100px;
    --leftScale: 1;
  }
  header::after {
    right: -400px;
    top: -50px;
    --rightScale: 1;
  }
}
